
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

h1 {
    font-family: 'San Francisco';
}

  dl dt{
    margin: 12px 0;
    font-size: 20px;
    font-weight: 300;
    font-family: 'San Francisco' 'Lucida Sans Regular', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

a:link {
    color:#1172C6
}

a:visited {
    color:#1172C6
}

a:hover {
    color:#1172C6
}

a:active {
    color:#1172C6
}


